@import 'tools';

.article {
    padding-top: var(--margin-M);
    padding-bottom: var(--margin-M);

    @include MQ ($tablet) {
        @include grid (9, var(--XS));
        padding-top: var(--margin-L);
    }

    &__header {
        @include flexible (flex, column, nowrap, center, center);
        gap: var(--L);
        padding-bottom: 0;
        padding-top: var(--margin-M);
        text-align: center;
        
        @include MQ ($tablet) {
            & img {
                max-height: 50vh;
            }
        }
    }

    &__content {
        grid-column: 3/10;
    }


}

header.sect {
    align-items: center;
}


.previousnext {
    @include flexible (flex, row, nowrap, center, center);
    gap: var(--margin-S);
    width: 100%;

    & button {
        background-color: inherit;
        padding: 0;
    }

    & svg {
        fill: var(--bg-color-blue);
        transition: 0.3s ease-in-out;

        &:hover {
            fill: var(--bg-color-orange);
        }
    }

    @include MQ ($tablet) {
        grid-column: 3/10;
        margin-top: var(--margin-M);
    }
}