@import 'tools';

// Buttons start
button, .btn--1, input[type='submit'] {
    @include flexible (flex, column, no-wrap, center, center);
    @include padding (var(--S), var(--L), var(--XS));
	border: none;
	cursor: pointer;
	outline: inherit;
    font-family: var(--typo-accent);
    white-space: nowrap;
    font-size: var(--S);
    letter-spacing: 0.15rem;
    color: var(--color-white);
    background-color: var(--bg-color-blue);
    transition: 0.5s ease-in-out;

    &.btn--arrow {
        padding: var(--S);
    }

    &:hover {
        color: var(--color-black);
        background-color: var(--bg-color-blue-light);

        &.dark {
            color: var(--color-white);
            background-color: var(--bg-color-blue);
        }
    }

    &.dark {
        color: var(--color-black);
        background-color: var(--bg-color-blue-light);
    }

}

.btn--2 {
    color: var(--color-white);
    background-color: var(--bg-color-orange);

    &:hover {
        color: var(--color-black);
        background-color: var(--bg-color-orange-light);
    }
}

.btn--3 {
    color: var(--color-black);
    background-color: var(--bg-color-green);

    &:hover {
        color: var(--color-black);
        background-color: var(--bg-color-green-light);
    }
}

.btn--4 {
    color: var(--color-black);
    background-color: var(--bg-yellow-blue);

    &:hover {
        color: var(--color-black);
        background-color: var(--bg-color-yellow-light);
    }
}

.btn--5 {
    color: var(--color-black);
    background-color: var(--bg-pink-blue);

    &:hover {
        color: var(--color-black);
        background-color: var(--bg-color-pink-light);
    }
}

// Button ends

// Link start

a {
    color: var(--bg-color-blue);
    text-decoration: underline;
    font-size: var(--S);

    &:checked {
        color: var(--color-yellow);
    }

    &.dark {
        color: var(--color-white);
        &:hover {
            color: var(--color-orange-light);
        }
    }

    &:hover {
        color: var(--color-orange);
    }
}

// Link ends