@import 'tools';

// Blog

.card-blog {
    @include flexible (flex, column, nowrap, flex-start, flex-start);
    @include padding (var(--XS), var(--XS), var(--XS));
    border: 2px solid var(--bg-color-blue);
    transition: 0.3s ease-in-out;
    max-width: 30em;

    &__link {
        text-decoration: none;
        color: inherit;
    }

    &--expand {
        @include MQ ($tablet) {
            display: grid;
            grid-column: 3/10;
            min-height: 15rem;

            & .card-blog {
                flex-direction: row;
                padding: inherit;
                border: inherit;
                gap: var(--margin-M);

                &:hover {
                    border: inherit;
                }

            } 

            & .card-blog--X {
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 2px solid var(--bg-color-blue);
                @include padding (var(--XS), var(--XS), var(--XS));
                width: 100%;
                height: 100%;
                

                &:hover {
                    border-color: var(--bg-color-orange);
                } 
            }

            & figure {
                height: 100%;

            }
        }
    }

    &:hover {
        border: 2px solid var(--bg-color-orange);
    }

    & a {
        text-decoration: none;
        color: inherit;
        @include flexible (flex, column, nowrap, flex-start, flex-start);
        gap: var(--XS);
    }
}

.thumbnail {
    aspect-ratio: 16/9;
    background-image: url('https://placekeanu.com/400/200');
}

// Carrousel

.card-carrousel {
    @include grid(1, inherit);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;

    @include MQ ($tablet) {
        @include grid(3, inherit);
    }
}


//Icons

.card-icon {
    @include flexible(flex, column, nowrap, center, flex-start);

    &:nth-child(even) {
        align-items: flex-end;
    }

    @include MQ ($tablet) {
        @include flexible(flex, row, nowrap, center, center);
        gap: var(--L);
    }

    &__content {
        @include flexible(flex, column, nowrap, center, flex-start);
        gap: var(--XS);
    }
}