@import 'tools';

// Card Statement
.card-statement {
    @include colorinvert;


    & h2 {
        text-align: right;
        @include responsivemarginX (3.2rem, 0);
        margin-bottom: 0.5em;
    }

    & p {
        max-width: inherit;
        @include responsivemarginX (0, 3.2rem);
        hyphens: none;
    }

}

// Card CTA 

.card-cta {
    @include flexshort (column, center, center, var(--margin-M));
    color: var(--color-white);
    background-image: linear-gradient(0deg, rgba(61, 49, 164, 0.8), rgba(61, 49, 164, 0.8)), url("http://placekitten.com/g/1500/350");
    background-size: cover;
    text-align: center;

    &__text {
        @include flexshort (column, center, center, var(--margin-M));
    }

    @include MQ ($tablet) {
        @include flexshort (row, space-between, center, var(--margin-L));
        text-align: left;
        
        &__text {
            @include flexshort (column, center, flex-start, var(--margin-XS));
        }
    }
}

//Card Author
.card-author {
    @include flexshort (row, center, center, var(--margin-M));

    @include MQ ($tablet) {
        grid-column: 1/11;
    }
}

//Blog cards

.card-blog {
    @include flexshort (column, flex-start, flex-start, var(--margin-S));
    padding: var(--margin-XS);
    border: 2px solid var(--bg-color-blue);
    position: relative;
    width: fit-content;

    &--expand {
        @include MQ ($tablet) {
        }
    }

    &:hover {
        border-color: var(--bg-color-orange);
    }

    &__link {
        position: absolute;
        inset: 0;
    }

    & h3 {
        margin-bottom: 0;
    }

    & p {
        font-size: var(--typo-XS);
        margin-bottom: 0;
    }

    @include MQ ($tablet) {
        &--expand {
            @include grid (6, var(--margin-S));
            border: none;
            width: inherit;

            & img {
                grid-column: 1 / 4;
                grid-row: 1/ span 2;
                align-self: center;
                height: 100%;
            }

            & div {
                grid-column: 4 / 7;
                grid-row: 1/ span 2;
                @include flexshort (column, center, flex-start, var(--margin-S));
                padding: var(--margin-XS);
                border: 2px solid var(--bg-color-blue);
                height: 100%;

                &:hover {
                    border-color: var(--bg-color-orange);
                }
            }
        }
    }
}

//Icon cards 

.card-icon {
    @include MQ ($tablet) {
        @include flexshort (column, flex-start, flex-start, var(--margin-XS));
    }
}