@import 'tools';

//Main cover

.cover {
    @include flexshort (column, center, flex-end, var(--margin-S));

    &__text {
        @include flexshort (column, flex-start, flex-start, var(--margin-S));
        width: 100%;
    }

    &__img {
        max-width: 30rem;
    }

    @include MQ ($tablet) {
        @include grid (10, var(--margin-S));
        align-items: center;
        
        &__text {
            grid-column: 1/6;
        }

        &__img {
            grid-column: 7/11;
            max-width: inherit;
        }        
    }
}

//Small cover

.cover-small {
    @include flexshort (column, center, center, var(--margin-S));
    @include colorinvert;

    @include MQ ($tablet) {
        flex-direction: row;

        & p {
            max-width: 60%;
        }
    }

}

//404 cover

.p404 {
    @include MQ ($tablet){
        & .cover__text {
            grid-column: 1/5;
        }

        & .cover__img {
            grid-column: 5/11;
        }
    }
}

//About cover

.about .cover__img {

    margin-bottom: -11rem;

    @include MQ ($tablet) {
        margin-bottom: -3px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

//Article cover

.cover--article {
    @include flexshort (column, center, center, var(--margin-S));
    margin-bottom: var(--margin-M);

    &__img {
        width: 100%;

        @include MQ ($desktop) {
            height: 50vh;
        }
    }

}