@import 'tools';

.reviews {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;

    &>p {
        @include MQ($tablet) {
            display: grid;
            grid-column: 2/4;
            grid-row: 2/3;
            text-align: justify;
        }
    }

    &>h2 {
        @include MQ($tablet) {
            display: grid;
            grid-column: 2/4;
            grid-row: 1/2;
            text-align: center;
            justify-content: center;
        }
    }

    @include MQ($tablet) {
        display: grid;
        grid-template-columns: auto;
    }

    @include MQ($tablet) {
        column-gap: 8rem;
    }
}


.reviews__quote {
    fill: var(--bg-color-blue-light);

    @include MQ($tablet) {
        display: grid;
        grid-column: 1/2;
        grid-row: 2/3;   
    }

    &--inverted {
        fill: var(--bg-color-blue-light);
        rotate: 180deg;
        display: none;

        @include MQ($tablet) {
            display: grid;
            grid-column: 4/5;
            grid-row: 2/3;
        }
    }
}

.card-author {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    &__img {
        width: inherit;
    }

    @include MQ($tablet) {
        grid-column: 2/4;
        grid-row: 3/4;
        align-items: center;
        justify-content: center;
    }

}

.carrousel__dots {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    @include MQ($tablet) {
        grid-column: 2/4;
        grid-row: 4/5;
        justify-content: center;
        align-items: center;
    }

    &__dot {
        appearance: none;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: var(--bg-color-blue-light);
    
        &.active {
            border: 1px solid var(--color-blue-light);
            background-color: var(--bg-color-blue);
        }
    }
}