@import 'tools';

.sect {
    @include flexible (flex, column, nowrap, center, flex-start);
    @include responsivepaddingX();
    @include responsivepaddingY();
    gap: var(--L);

    &__img {
        max-height: 25rem;
        z-index: z(below);
        object-fit: contain;

        @include MQ ($tablet) {
            max-height: inherit;
        }
    }

    &--Y {
        @include flexible (flex, column, nowrap, center, flex-start);
        gap: var(--L);
    }

    &--X {
        @include flexible (flex, column, nowrap, center, flex-start);
        gap: var(--L);
    }

    &__wrap {
        @include flexible (flex, column, nowrap, space-between, flex-start);
        width: 100%;
        gap: var(--L);

        &--row {
            @include MQ ($tablet) {
                display: flex;
                flex-direction: row;
                gap: var(--margin-L);
            }
        }
    }

    @include MQ ($tablet) {
        @include flexible (flex, row, nowrap, space-between, flex-start);
        gap: var(--margin-L);
    }

    @include MQ ($desktop) {
        gap: var(--margin-XL);
    }

    &--black {
        background-color: var(--bg-color-black);
        color: var(--color-white);
    }
}

header.sect {
    align-items: flex-end;
}
