:root {
  --color-black: #0B091F;
  --color-white: #ffffff;
  --color-blue: #5544F2;
  --color-blue-light: #CDC7FA;
  --color-blue-dark: #3D31A4;
  --color-orange: #F0573D;
  --color-orange-light: #F2C1B4;
  --color-orange-dark: #973E28;
  --color-green: #48F194;
  --color-green-light: #A7F1C8;
  --color-green-dark: #008946;
  --color-yellow: #F8CC56;
  --color-yellow-light: #FCE9AD;
  --color-yellow--dark: #F2AA5A;
  --color-pink: #F12DF4;
  --color-pink-light: #EDB9EE;
  --color-pink-dark: #A513A7;
  --bg-color-black: var(--color-black);
  --bg-color-white: var(--color-white);
  --bg-color-blue: var(--color-blue);
  --bg-color-blue-light: var(--color-blue-light);
  --bg-color-blue-dark: var(--color-blue-dark);
  --bg-color-orange: var(--color-orange);
  --bg-color-orange-light: var(--color-orange-light);
  --bg-color-orange-dark: var(--color-orange-dark);
  --bg-color-green: var(--color-green);
  --bg-color-green-light: var(--color-green-light);
  --bg-color-green-dark: var(--color-green-dark);
  --bg-color-yellow: var(--color-yellow);
  --bg-color-yellow-light: var(--color-yellow-light);
  --bg-color-yellow--dark: var(--color-yellow--dark);
  --bg-color-pink: var(--color-pink);
  --bg-color-pink-light: var(--color-pink-light);
  --bg-color-pink-dark: var(--color-pink-dark);
  --bg-color-blue-light-T8: #cdc7faf1;
  --typo-main: "Inter", sans-serif;
  --typo-accent: "Bely Display", serif;
  --margin-XL: 16rem;
  --margin-L: 8rem;
  --margin-M: 3.2rem;
  --margin-S: 1.6rem;
  --XXL: 4.8rem;
  --XL: 4rem;
  --L: 3.2rem;
  --M: 2rem;
  --S: 1.8rem;
  --XS: 1.6rem;
  --XXS: 1.4rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--bg-color-blue-light);
  color: var(--color-blue-dark);
}

::selection {
  background-color: var(--bg-color-blue-light);
  color: var(--color-blue-dark);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  display: block;
  fill: currentColor;
}

html {
  min-height: 100vh;
  font-size: 62.5%;
  font-family: var(--typo-main);
  color: var(--color-black);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .h1 {
  font-family: "Bely Display";
  font-size: var(--L);
  letter-spacing: 0.15rem;
}
@media all and (min-width: 70rem) {
  h1, .h1 {
    font-size: var(--XL);
  }
}

h2, .h2 {
  font-family: "Bely Display";
  font-size: var(--L);
}
@media all and (min-width: 70rem) {
  h2, .h2 {
    font-size: var(--XL);
  }
}

h3, .h3 {
  font-family: "Bely Display";
  font-size: var(--S);
}
@media all and (min-width: 70rem) {
  h3, .h3 {
    font-size: var(--M);
  }
}

h4, .h4, .subtitle--L {
  font-family: "inter";
  font-weight: 500;
  font-size: var(--S);
  color: var(--color-blue);
}
h4.dark, .h4.dark, .subtitle--L.dark {
  color: var(--color-blue-light);
}
@media all and (min-width: 70rem) {
  h4, .h4, .subtitle--L {
    font-size: var(--M);
  }
}

h5, .h5, .subtitle--M {
  font-family: "inter";
  font-weight: 500;
  font-size: var(--S);
  color: var(--color-blue);
}
h5.dark, .h5.dark, .subtitle--M.dark {
  color: var(--color-blue-light);
}
@media all and (min-width: 70rem) {
  h5, .h5, .subtitle--M {
    font-size: var(--M);
  }
}

h6, .h6, .subtitle--S {
  font-family: "inter";
  font-weight: 500;
  font-size: var(--XS);
  color: var(--color-blue);
}
h6.dark, .h6.dark, .subtitle--S.dark {
  color: var(--color-blue-light);
}
@media all and (min-width: 70rem) {
  h6, .h6, .subtitle--S {
    font-size: var(--S);
  }
}

p, .p {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-size: var(--XS);
}
@media all and (min-width: 70rem) {
  p, .p {
    font-size: var(--S);
  }
}

input[type=text], input[type=tel], input[type=email], textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--S) var(--L);
  gap: var(--XS);
  border: none;
  outline: inherit;
  font-size: var(--S);
  letter-spacing: 0.15rem;
  background-color: var(--bg-color-blue-light);
}
input[type=text].dark, input[type=tel].dark, input[type=email].dark, textarea.dark {
  background-color: var(--bg-color-white);
}
input[type=text]:invalid, input[type=tel]:invalid, input[type=email]:invalid, textarea:invalid {
  border: 1px solid var(--color-pink);
}

input[type=checkbox] {
  width: var(--XS);
  height: var(--XS);
  border: 2px solid var(--color-blue);
  background-color: var(--bg-color-blue-light);
}
input[type=checkbox]:checked {
  border: 2px solid var(--color-blue-light);
  background-color: var(--bg-color-blue);
}

input[type=radio] {
  width: var(--XS);
  height: var(--XS);
  border: 2px solid var(--color-blue);
  border-radius: 50%;
  background-color: var(--bg-color-blue-light);
}
input[type=radio]:checked {
  border: 2px solid var(--color-blue-light);
  background-color: var(--bg-color-blue);
}

button, .btn--1, input[type=submit] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column no-wrap;
          flex-flow: column no-wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--S) var(--L);
  gap: var(--XS);
  border: none;
  cursor: pointer;
  outline: inherit;
  font-family: var(--typo-accent);
  white-space: nowrap;
  font-size: var(--S);
  letter-spacing: 0.15rem;
  color: var(--color-white);
  background-color: var(--bg-color-blue);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
button.btn--arrow, .btn--1.btn--arrow, input[type=submit].btn--arrow {
  padding: var(--S);
}
button:hover, .btn--1:hover, input[type=submit]:hover {
  color: var(--color-black);
  background-color: var(--bg-color-blue-light);
}
button:hover.dark, .btn--1:hover.dark, input[type=submit]:hover.dark {
  color: var(--color-white);
  background-color: var(--bg-color-blue);
}
button.dark, .btn--1.dark, input[type=submit].dark {
  color: var(--color-black);
  background-color: var(--bg-color-blue-light);
}

.btn--2 {
  color: var(--color-white);
  background-color: var(--bg-color-orange);
}
.btn--2:hover {
  color: var(--color-black);
  background-color: var(--bg-color-orange-light);
}

.btn--3 {
  color: var(--color-black);
  background-color: var(--bg-color-green);
}
.btn--3:hover {
  color: var(--color-black);
  background-color: var(--bg-color-green-light);
}

.btn--4 {
  color: var(--color-black);
  background-color: var(--bg-yellow-blue);
}
.btn--4:hover {
  color: var(--color-black);
  background-color: var(--bg-color-yellow-light);
}

.btn--5 {
  color: var(--color-black);
  background-color: var(--bg-pink-blue);
}
.btn--5:hover {
  color: var(--color-black);
  background-color: var(--bg-color-pink-light);
}

a {
  color: var(--bg-color-blue);
  text-decoration: underline;
  font-size: var(--S);
}
a:checked {
  color: var(--color-yellow);
}
a.dark {
  color: var(--color-white);
}
a.dark:hover {
  color: var(--color-orange-light);
}
a:hover {
  color: var(--color-orange);
}

.icon--S {
  height: 8rem;
  width: 8rem;
}
.icon--M {
  height: 10rem;
  width: 10rem;
}
.icon--L {
  height: 15rem;
  width: 15rem;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--XS);
}
@media all and (min-width: 48rem) {
  .social-media {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.social-media__icon {
  width: var(--L);
  height: var(--L);
  padding: 1rem;
  background-color: var(--bg-color-white);
  fill: var(--bg-color-blue);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.social-media__icon:hover {
  fill: var(--bg-color-orange);
}

.sect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  gap: var(--L);
}
@media all and (min-width: 48rem) {
  .sect {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media all and (min-width: 70rem) {
  .sect {
    padding-left: 16rem;
    padding-right: 16rem;
  }
}
@media all and (min-width: 48rem) {
  .sect {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
@media all and (min-width: 70rem) {
  .sect {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }
}
.sect--Y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: var(--L);
}
.sect--X {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: var(--L);
}
.sect__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: var(--L);
}
@media all and (min-width: 48rem) {
  .sect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: var(--XL);
  }
}
@media all and (min-width: 48rem) {
  .sect {
    gap: var(--margin-L);
  }
}
.sect--black {
  background-color: var(--bg-color-black);
  color: var(--color-white);
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  position: sticky;
  top: 0;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media all and (min-width: 48rem) {
  .topbar {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media all and (min-width: 70rem) {
  .topbar {
    padding-left: 16rem;
    padding-right: 16rem;
  }
}
.topbar__logo {
  z-index: 3;
}
.topbar__logo > svg {
  width: 10rem;
  fill: var(--bg-color-blue);
}
@media all and (min-width: 48rem) {
  .topbar__logo > svg {
    width: 15rem;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--L);
  background-color: var(--bg-color-blue-light-T8);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  display: none;
}
.nav__item > a {
  text-decoration: none;
  color: var(--color-black);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.nav__item > a:hover {
  color: var(--color-orange);
}
@media all and (min-width: 70rem) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: var(--M);
    background-color: inherit;
    position: inherit;
    top: inherit;
    right: inherit;
    width: inherit;
    height: auto;
  }
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  z-index: 3;
}
@media all and (min-width: 70rem) {
  .burger {
    display: none;
  }
}
.burger__bar {
  width: var(--L);
  height: 3px;
  background-color: var(--bg-color-blue);
}