:root {
  --color-black: #0B091F;
  --color-white: #ffffff;
  --color-blue: #5544F2;
  --color-blue-light: #CDC7FA;
  --color-blue-dark: #3D31A4;
  --color-orange: #F0573D;
  --color-orange-light: #F2C1B4;
  --color-orange-dark: #973E28;
  --color-green: #48F194;
  --color-green-light: #A7F1C8;
  --color-green-dark: #008946;
  --color-yellow: #F8CC56;
  --color-yellow-light: #FCE9AD;
  --color-yellow--dark: #F2AA5A;
  --color-pink: #F12DF4;
  --color-pink-light: #EDB9EE;
  --color-pink-dark: #A513A7;
  --bg-color-black: var(--color-black);
  --bg-color-white: var(--color-white);
  --bg-color-blue: var(--color-blue);
  --bg-color-blue-light: var(--color-blue-light);
  --bg-color-blue-dark: var(--color-blue-dark);
  --bg-color-orange: var(--color-orange);
  --bg-color-orange-light: var(--color-orange-light);
  --bg-color-orange-dark: var(--color-orange-dark);
  --bg-color-green: var(--color-green);
  --bg-color-green-light: var(--color-green-light);
  --bg-color-green-dark: var(--color-green-dark);
  --bg-color-yellow: var(--color-yellow);
  --bg-color-yellow-light: var(--color-yellow-light);
  --bg-color-yellow--dark: var(--color-yellow--dark);
  --bg-color-pink: var(--color-pink);
  --bg-color-pink-light: var(--color-pink-light);
  --bg-color-pink-dark: var(--color-pink-dark);
  --bg-color-blue-light-T8: #cdc7faf1;
  --typo-main: "Inter", sans-serif;
  --typo-accent: "Bely Display", serif;
  --margin-XL: 16rem;
  --margin-L: 8rem;
  --margin-M: 3.2rem;
  --margin-S: 1.6rem;
  --XXL: 4.8rem;
  --XL: 4rem;
  --L: 3.2rem;
  --M: 2rem;
  --S: 1.8rem;
  --XS: 1.6rem;
  --XXS: 1.4rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--bg-color-blue-light);
  color: var(--color-blue-dark);
}

::selection {
  background-color: var(--bg-color-blue-light);
  color: var(--color-blue-dark);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  display: block;
  fill: currentColor;
}

html {
  min-height: 100vh;
  font-size: 62.5%;
  font-family: var(--typo-main);
  color: var(--color-black);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 160rem;
  margin: auto;
}

h1, .h1 {
  font-family: "Bely Display";
  font-size: var(--L);
  letter-spacing: 0.15rem;
}
@media all and (min-width: 70rem) {
  h1, .h1 {
    font-size: var(--XL);
  }
}

h2, .h2 {
  font-family: "Bely Display";
  font-size: var(--L);
}
@media all and (min-width: 70rem) {
  h2, .h2 {
    font-size: var(--XL);
  }
}

h3, .h3 {
  font-family: "Bely Display";
  font-size: var(--S);
}
@media all and (min-width: 70rem) {
  h3, .h3 {
    font-size: var(--M);
  }
}

h4, .h4, .subtitle--L {
  font-family: "inter";
  font-weight: 500;
  font-size: var(--S);
  color: var(--color-blue);
}
h4.black, .h4.black, .subtitle--L.black {
  color: var(--color-blue-light);
}
@media all and (min-width: 70rem) {
  h4, .h4, .subtitle--L {
    font-size: var(--M);
  }
}

h5, .h5, .subtitle--M {
  font-family: "inter";
  font-weight: 500;
  font-size: var(--S);
  color: var(--color-blue);
}
h5.dark, .h5.dark, .subtitle--M.dark {
  color: var(--color-blue-light);
}
@media all and (min-width: 70rem) {
  h5, .h5, .subtitle--M {
    font-size: var(--M);
  }
}

h6, .h6, .subtitle--S {
  font-family: "inter";
  font-weight: 500;
  font-size: var(--XS);
  color: var(--color-blue);
}
h6.dark, .h6.dark, .subtitle--S.dark {
  color: var(--color-blue-light);
}
@media all and (min-width: 70rem) {
  h6, .h6, .subtitle--S {
    font-size: var(--S);
  }
}

p, .p {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-size: var(--XS);
}
@media all and (min-width: 70rem) {
  p, .p {
    font-size: var(--S);
  }
}

input[type=text], input[type=tel], input[type=email], textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--S) var(--L);
  gap: var(--XS);
  border: none;
  outline: inherit;
  font-size: var(--S);
  letter-spacing: 0.15rem;
  background-color: var(--bg-color-blue-light);
}
input[type=text].dark, input[type=tel].dark, input[type=email].dark, textarea.dark {
  background-color: var(--bg-color-white);
}
input[type=text]:invalid, input[type=tel]:invalid, input[type=email]:invalid, textarea:invalid {
  border: 1px solid var(--color-pink);
}

input[type=checkbox] {
  width: var(--XS);
  height: var(--XS);
  border: 2px solid var(--color-blue);
  background-color: var(--bg-color-blue-light);
}
input[type=checkbox]:checked {
  border: 2px solid var(--color-blue-light);
  background-color: var(--bg-color-blue);
}

input[type=radio] {
  width: var(--XS);
  height: var(--XS);
  border: 2px solid var(--color-blue);
  border-radius: 50%;
  background-color: var(--bg-color-blue-light);
}
input[type=radio]:checked {
  border: 2px solid var(--color-blue-light);
  background-color: var(--bg-color-blue);
}

button, .btn--1, input[type=submit] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column no-wrap;
          flex-flow: column no-wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--S) var(--L);
  gap: var(--XS);
  border: none;
  cursor: pointer;
  outline: inherit;
  font-family: var(--typo-accent);
  white-space: nowrap;
  font-size: var(--S);
  letter-spacing: 0.15rem;
  color: var(--color-white);
  background-color: var(--bg-color-blue);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
button.btn--arrow, .btn--1.btn--arrow, input[type=submit].btn--arrow {
  padding: var(--S);
}
button:hover, .btn--1:hover, input[type=submit]:hover {
  color: var(--color-black);
  background-color: var(--bg-color-blue-light);
}
button:hover.dark, .btn--1:hover.dark, input[type=submit]:hover.dark {
  color: var(--color-white);
  background-color: var(--bg-color-blue);
}
button.dark, .btn--1.dark, input[type=submit].dark {
  color: var(--color-black);
  background-color: var(--bg-color-blue-light);
}

.btn--2 {
  color: var(--color-white);
  background-color: var(--bg-color-orange);
}
.btn--2:hover {
  color: var(--color-black);
  background-color: var(--bg-color-orange-light);
}

.btn--3 {
  color: var(--color-black);
  background-color: var(--bg-color-green);
}
.btn--3:hover {
  color: var(--color-black);
  background-color: var(--bg-color-green-light);
}

.btn--4 {
  color: var(--color-black);
  background-color: var(--bg-color-yellow);
}
.btn--4:hover {
  color: var(--color-black);
  background-color: var(--bg-color-yellow-light);
}

.btn--5 {
  color: var(--color-black);
  background-color: var(--bg-color-pink);
}
.btn--5:hover {
  color: var(--color-black);
  background-color: var(--bg-color-pink-light);
}

a {
  color: var(--bg-color-blue);
  text-decoration: underline;
  font-size: var(--S);
}
a:checked {
  color: var(--color-yellow);
}
a.dark {
  color: var(--color-white);
}
a.dark:hover {
  color: var(--color-orange-light);
}
a:hover {
  color: var(--color-orange);
}

.icon--S {
  height: 8rem;
  width: 8rem;
}
.icon--M {
  height: 10rem;
  width: 10rem;
}
.icon--L {
  height: 15rem;
  width: 15rem;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--XS);
}
@media all and (min-width: 48rem) {
  .social-media {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.social-media__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-color-white);
  fill: var(--bg-color-blue);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 1rem;
  transition: 0.3s ease-in-out;
}
.social-media__icon svg {
  width: var(--L);
  height: var(--L);
}
.social-media__icon:hover {
  fill: var(--bg-color-orange);
}

.card-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: var(--XS) var(--XS);
  gap: var(--XS);
  border: 2px solid var(--bg-color-blue);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  max-width: 30em;
}
.card-blog__link {
  text-decoration: none;
  color: inherit;
}
@media all and (min-width: 48rem) {
  .card-blog--expand {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3/10;
    min-height: 15rem;
  }
  .card-blog--expand .card-blog {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: inherit;
    border: inherit;
    gap: var(--margin-M);
  }
  .card-blog--expand .card-blog:hover {
    border: inherit;
  }
  .card-blog--expand .card-blog--X {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid var(--bg-color-blue);
    padding: var(--XS) var(--XS);
    gap: var(--XS);
    width: 100%;
    height: 100%;
  }
  .card-blog--expand .card-blog--X:hover {
    border-color: var(--bg-color-orange);
  }
  .card-blog--expand figure {
    height: 100%;
  }
}
.card-blog:hover {
  border: 2px solid var(--bg-color-orange);
}
.card-blog a {
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: var(--XS);
}

.thumbnail {
  aspect-ratio: 16/9;
  background-image: url("https://placekeanu.com/400/200");
}

.card-carrousel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  gap: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0;
}
@media all and (min-width: 48rem) {
  .card-carrousel {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr inherit 1fr inherit 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: inherit;
  }
}

.card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.card-icon:nth-child(even) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media all and (min-width: 48rem) {
  .card-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: var(--L);
  }
}
.card-icon__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: var(--XS);
}

.sect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  gap: var(--L);
}
@media all and (min-width: 48rem) {
  .sect {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media all and (min-width: 70rem) {
  .sect {
    padding-left: 16rem;
    padding-right: 16rem;
  }
}
@media all and (min-width: 48rem) {
  .sect {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
@media all and (min-width: 70rem) {
  .sect {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }
}
.sect__img {
  max-height: 25rem;
  z-index: -1;
  -o-object-fit: contain;
     object-fit: contain;
}
@media all and (min-width: 48rem) {
  .sect__img {
    max-height: inherit;
  }
}
.sect--Y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: var(--L);
}
.sect--X {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: var(--L);
}
.sect__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: var(--L);
}
@media all and (min-width: 48rem) {
  .sect__wrap--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: var(--margin-L);
  }
}
@media all and (min-width: 48rem) {
  .sect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: var(--margin-L);
  }
}
@media all and (min-width: 70rem) {
  .sect {
    gap: var(--margin-XL);
  }
}
.sect--black {
  background-color: var(--bg-color-black);
  color: var(--color-white);
}

header.sect {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--L);
}
.services__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: -10rem;
}
.services--Y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--L);
}
.services--X {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--L);
}
.services--X > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--XS);
}
@media all and (min-width: 48rem) {
  .services {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto var(--margin-L) auto;
    grid-template-rows: auto auto;
    -ms-grid-columns: auto var(--margin-L) auto;
    grid-template-columns: auto auto;
    gap: var(--margin-L);
  }
  .services > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .services > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .services > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .services > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .services__icon {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-right: -6rem;
    margin-bottom: -6rem;
  }
  .services--Y {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 2;
    grid-row-end: 4;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.2rem;
    margin-top: -1.2rem;
  }
  .services--X {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 2;
    grid-row-end: 4;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.5rem;
  }
}

@media all and (min-width: 48rem) {
  .services--X > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3.2rem;
    width: 100%;
  }
  .services--X > ul > li {
    width: 30%;
  }
}

.cta {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(61, 49, 164, 0.8)), to(rgba(61, 49, 164, 0.8))), url("http://placekitten.com/g/1500/350");
  background-image: linear-gradient(0deg, rgba(61, 49, 164, 0.8), rgba(61, 49, 164, 0.8)), url("http://placekitten.com/g/1500/350");
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sect__text--philosophy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--XS);
}
@media all and (min-width: 48rem) {
  .sect__text--philosophy {
    margin-right: var(--margin-XL);
  }
}
@media all and (min-width: 70rem) {
  .sect__text--philosophy {
    margin-right: calc(var(--margin-XL) * 2);
  }
}
@media all and (min-width: 48rem) {
  .sect__text--philosophy:nth-child(3) {
    margin-left: var(--margin-XL);
    margin-right: 0;
  }
}
@media all and (min-width: 70rem) {
  .sect__text--philosophy:nth-child(3) {
    margin-left: calc(var(--margin-XL) * 2);
  }
}
@media all and (min-width: 48rem) {
  .sect__text--philosophy:nth-child(4) {
    margin: 0 var(--margin-L);
  }
}
@media all and (min-width: 70rem) {
  .sect__text--philosophy:nth-child(4) {
    margin: 0 var(--margin-XL);
  }
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media all and (min-width: 48rem) {
  .reviews > p {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    text-align: justify;
  }
}
@media all and (min-width: 48rem) {
  .reviews > h2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media all and (min-width: 48rem) {
  .reviews {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}
@media all and (min-width: 48rem) {
  .reviews {
    -webkit-column-gap: 8rem;
       -moz-column-gap: 8rem;
            column-gap: 8rem;
  }
}

.reviews__quote {
  fill: var(--bg-color-blue-light);
}
@media all and (min-width: 48rem) {
  .reviews__quote {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}
.reviews__quote--inverted {
  fill: var(--bg-color-blue-light);
  rotate: 180deg;
  display: none;
}
@media all and (min-width: 48rem) {
  .reviews__quote--inverted {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.card-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}
.card-author__img {
  width: inherit;
}
@media all and (min-width: 48rem) {
  .card-author {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.carrousel__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}
@media all and (min-width: 48rem) {
  .carrousel__dots {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.carrousel__dots__dot {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--bg-color-blue-light);
}
.carrousel__dots__dot.active {
  border: 1px solid var(--color-blue-light);
  background-color: var(--bg-color-blue);
}

.about__img {
  margin-bottom: -8rem;
}
@media all and (min-width: 48rem) {
  .about__img {
    margin-bottom: inherit;
    position: absolute;
    bottom: 0;
    right: 8rem;
    width: 40%;
  }
  .about__img > img {
    max-height: 600px;
  }
}
@media all and (min-width: 70rem) {
  .about__img {
    right: 16rem;
    max-width: 60rem;
  }
}

@media all and (min-width: 48rem) {
  .sect--Y.about {
    width: 50%;
  }
}

.card-price {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--L);
  justify-items: center;
}
@media all and (min-width: 48rem) {
  .card-price {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--margin-L) 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--margin-L);
  }
}
.card-price__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: var(--L);
}
.card-price__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: var(--S);
}
.card-price__img {
  max-width: 30rem;
}
@media all and (min-width: 48rem) {
  .card-price__img {
    max-width: 35rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: end;
        align-self: end;
  }
}
.card-price__btn {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media all and (min-width: 48rem) {
  .odd {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/span 2;
  }
}

@media all and (min-width: 48rem) {
  .even {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/span 2;
  }
}

.info__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  overflow: visible;
  overflow-y: scroll;
  max-height: 40rem;
  border: 1px solid var(--color-blue);
}
.info__table tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.info__table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--L);
  border-bottom: 1px solid var(--color-blue);
  padding: var(--S) var(--L);
}

.advantages__about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--L);
}
.advantages__about .sect__wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (min-width: 70rem) {
  .advantages__about .sect__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: var(--margin-L);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.advantages__about .sect__wrap iframe {
  aspect-ratio: 16/9;
}
@media all and (min-width: 70rem) {
  .advantages__about .sect__wrap iframe {
    width: 50%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  gap: var(--L);
  text-align: center;
}
@media all and (min-width: 48rem) {
  .footer {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
@media all and (min-width: 70rem) {
  .footer {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }
}
@media all and (min-width: 48rem) {
  .footer {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media all and (min-width: 70rem) {
  .footer {
    padding-left: 16rem;
    padding-right: 16rem;
  }
}
@media all and (min-width: 48rem) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--L) 1fr var(--L) 1fr var(--L) 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--L);
    text-align: inherit;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media all and (min-width: 70rem) {
  .footer {
    padding-top: 16rem;
  }
}
@media all and (min-width: 48rem) {
  .footer__links1 {
    -ms-grid-column: 3;
    grid-column: 3;
  }
}
.footer__subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__subscription > input[type=email] {
  width: 100%;
}
.footer__subscription > input[type=submit] {
  width: 100%;
  font-size: var(--S);
}
@media all and (min-width: 48rem) {
  .footer__subscription {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/span 2;
  }
}
.footer .social-media {
  -ms-grid-row: 2;
  grid-row: 2;
}

.footer__links1, .footer__links2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--S);
}
@media all and (min-width: 70rem) {
  .footer__links1, .footer__links2 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-color-blue);
  padding: var(--L);
  color: var(--color-white);
  gap: var(--S);
}
.footer__banner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--S);
}
@media all and (min-width: 48rem) {
  .footer__banner ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__banner a {
  color: var(--color-white);
  text-align: center;
  font-size: var(--XS);
}
.footer__banner a:hover {
  color: var(--color-orange);
}
@media all and (min-width: 48rem) {
  .footer__banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  position: sticky;
  top: 0;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  mix-blend-mode: plus-lighter;
}
@media all and (min-width: 48rem) {
  .topbar {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media all and (min-width: 70rem) {
  .topbar {
    padding-left: 16rem;
    padding-right: 16rem;
  }
}
.topbar__logo {
  z-index: 3;
}
.topbar__logo > svg {
  width: 10rem;
  fill: var(--bg-color-blue);
}
@media all and (min-width: 48rem) {
  .topbar__logo > svg {
    width: 15rem;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--L);
  background-color: var(--bg-color-blue-light-T8);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  display: none;
}
.nav__item > a {
  text-decoration: none;
  color: var(--color-blue);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.nav__item > a:hover {
  color: var(--color-orange);
}
@media all and (min-width: 70rem) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: var(--M);
    background-color: inherit;
    position: inherit;
    top: inherit;
    right: inherit;
    width: inherit;
    height: auto;
    mix-blend-mode: revert;
  }
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  z-index: 3;
}
@media all and (min-width: 70rem) {
  .burger {
    display: none;
  }
}
.burger__bar {
  width: var(--L);
  height: 3px;
  background-color: var(--bg-color-blue);
}

.blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--XS);
  gap: var(--margin-M);
  justify-items: center;
}
@media all and (min-width: 48rem) {
  .blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--XS) 1fr var(--XS) 1fr var(--XS) 1fr var(--XS) 1fr var(--XS) 1fr var(--XS) 1fr var(--XS) 1fr var(--XS) 1fr;
    grid-template-columns: repeat(9, 1fr);
    gap: var(--XS);
  }
  .blog__articles {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4/10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.blog .sect__img {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 5;
  grid-row: 5;
}
@media all and (min-width: 48rem) {
  .blog .sect__img {
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--margin-M);
  text-align: center;
}
@media all and (min-width: 48rem) {
  .sidebar {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: inherit;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/span 3;
  }
}

.resources {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--XS);
  gap: var(--margin-M);
  justify-items: center;
  text-align: center;
  padding-top: 0;
}
.resources .card-blog {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: left;
}
.resources .card-blog h3 {
  width: 100%;
}
@media all and (min-width: 48rem) {
  .resources {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--margin-M) 1fr var(--margin-M) 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--XS);
    gap: var(--margin-M);
    justify-items: start;
    text-align: inherit;
    padding-top: 0;
  }
  .resources h2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/span 3;
  }
}

.article {
  padding-top: var(--margin-M);
  padding-bottom: var(--margin-M);
}
@media all and (min-width: 48rem) {
  .article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--XS) 1fr var(--XS) 1fr var(--XS) 1fr var(--XS) 1fr var(--XS) 1fr var(--XS) 1fr var(--XS) 1fr var(--XS) 1fr;
    grid-template-columns: repeat(9, 1fr);
    gap: var(--XS);
    padding-top: var(--margin-L);
  }
}
.article__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--L);
  padding-bottom: 0;
  padding-top: var(--margin-M);
  text-align: center;
}
@media all and (min-width: 48rem) {
  .article__header img {
    max-height: 50vh;
  }
}
.article__content {
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3/10;
}

header.sect {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.previousnext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--margin-S);
  width: 100%;
}
.previousnext button {
  background-color: inherit;
  padding: 0;
}
.previousnext svg {
  fill: var(--bg-color-blue);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.previousnext svg:hover {
  fill: var(--bg-color-orange);
}
@media all and (min-width: 48rem) {
  .previousnext {
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3/10;
    margin-top: var(--margin-M);
  }
}

.block-align--center {
  margin: auto;
}

.padding-left--XL {
  padding-left: var(--margin-M);
}
@media all and (min-width: 48rem) {
  .padding-left--XL {
    padding-left: var(--margin-L);
  }
}
@media all and (min-width: 70rem) {
  .padding-left--XL {
    padding-left: var(--margin-XL);
  }
}

.padding-right--XL {
  padding-right: var(--margin-M);
}
@media all and (min-width: 48rem) {
  .padding-right--XL {
    padding-right: var(--margin-L);
  }
}
@media all and (min-width: 70rem) {
  .padding-right--XL {
    padding-right: var(--margin-XL);
  }
}

.txt-align--right {
  text-align: right;
}

.flex-align--end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.relative {
  position: relative;
}