@import 'tools';

.frame {
    @include responsivepaddingX;
    @include responsivepaddingY;
}

.xtra-mrgn--bttm {
    margin-bottom: 1em;
}

.dark {
    @include colorinvert;
}

.section__wrap {
    @include flexshort (column, center, center, var(--margin-L));
}

.margin-auto {
    margin: auto;
}

.nopaddingtop {
    padding-top: 0;
}

.nopaddingbottom {
    padding-bottom: 0;
}

.relative {
    position: relative;
}

.nomarginbottom {
    margin-bottom: 0;
}

.txt--blue {
    color: var(--color-blue);
}

.txt--orange {
    color: var(--color-orange);
}