@import 'tools';

.frame {
    @include responsivepaddingX;
    @include responsivepaddingY;
}

.xtra-mrgn--bttm {
    margin-bottom: 1em;
}

.dark {
    @include colorinvert;
}

.section__wrap {
    @include flexshort (column, center, center, var(--margin-L));
}

.margin-auto {
    margin: auto;
}

.nopaddingtop {
    padding-top: 0;
}

.nopaddingbottom {
    padding-bottom: 0;
}

.relative {
    position: relative;
}

.nomarginbottom {
    margin-bottom: 0;
}

.txt--blue {
    color: var(--color-blue);
}

.txt--orange {
    color: var(--color-orange);
}

.txt--blue-light {
    color: var(--color-blue-light);
}

.txt--orange-light {
    color: var(--color-orange-light);
}

.txt--orange {
    color: var(--color-orange);
}

.simple li {
    list-style-type: circle;
    font-size: var(--typo-M);
    margin-left: var(--margin-M);
    padding-left: var(--margin-XS);
    max-width: 67rem;
    margin-bottom: 1.5rem;
}

.simple p {
    margin-bottom: 1.5rem;
}

