@import 'tools';

.block-align--center {
    margin: auto;
}

.padding-left--XL {
    padding-left: var(--margin-M);

    @include MQ ($tablet) {
        padding-left: var(--margin-L);
    }

    @include MQ ($desktop) {
        padding-left: var(--margin-XL);
    }
}

.padding-right--XL {
    padding-right: var(--margin-M);

    @include MQ ($tablet) {
        padding-right: var(--margin-L);
    }

    @include MQ ($desktop) {
        padding-right: var(--margin-XL);
    }
}

.txt-align--right {
    text-align: right;
}

.flex-align--end {
    align-items: flex-end;
}

.relative {
    position: relative;
}


